[2016-09-29 13:13] fennecdjay opened #1 "test issue"
- [ ] test me

[2016-09-29 13:52] fennecdjay opened #2 "test"
- [X] test issues creation

[2016-10-01 10:35] #2 closed

[2016-10-04 16:57] #1 closed

[2016-10-17 16:37] PaulBatchelor opened #3 "Improve build system"
Hey there!

I'm trying to build Gwion,and I'm running into a few issues.

When I do make, I get this error:

While you do have the -std=c99 flag defined in your makefile, it's in the LDFLAGS variable, when it
should be in your CFLAGS variable. that goes for the -g flag, the -O3 flag, and possibly the -m flags (though I'm not as familiar with those.)

Personally, I don't like initial for loop decla

[2016-10-17 18:08] PaulBatchelor opened #4 "Integration with Sporth"
It would be very cool if you were able to implement Sporth as an optional UGen for Gwion.

I built a [Sporth UGen for ChucK](http://pbat.ch/proj/chorth.html) last year, so you can look at that for inspiration. In practice, I've found that the two paradigms work quite well for one another.

[2016-10-17 18:11] fennecdjay commented on #3
Not much time to read rigth now, but I'll take great care if what you wrote.
I think I can make output straight to alsa, or a soundfile, I'll check that ASAP.

---

to be continued...

[2016-10-17 18:46] PaulBatchelor opened #5 "Use upstream version of Soundpipe instead of fork"
Forks of Soundpipe are cool! I like people hacking on Soundpipe.

However, it seems like the only thing you are changing is define SPFLOAT to be double instead of float.
It doesn't seem like it's worth the effort to maintain a fork of SP just to do that. Plus it'll be confusing to users that will want to use your software.

If it's just precision that you want, I can easily do some fixes in SP so

[2016-10-17 18:55] PaulBatchelor commented on #3
@fennecdjay yup, this is a wall of text. I'm going to break this up into smaller issues, then close this one.

[2016-10-17 19:03] PaulBatchelor opened #6 "Make libsoundio support optional (and use libsndfile by default)"
As it turns, I'd need to update GCC on my computer now to get the most recent libsoundio to work. I would very much like libsoundio support to be optional.

In it's place, I would recommend having an "offline" mode by default. I recommend using libsndfile, because once you get the callback stuff setup to work with libsndfile, you can pretty much take it to any realtime API like libsoundio, portaud

[2016-10-17 19:19] PaulBatchelor commented on #3
Closing this, continuing this discussion with the PR found here: #7

[2016-10-17 19:19] #3 closed

[2016-10-19 17:32] PaulBatchelor commented on #6
@fennecdjay I tried your dev branch, and it is still complaining about libsoundio. Your makefile is going to need to be modified a bit: wildcards aren't your friend at the moment, because it is including the libsoundio source code even though I want to disable it. I would recommend explicitly listing all the sources you want to compile, and then use conditionals (ex: ifdef USE_SOUNDIO) to add opti

[2016-10-19 22:29] fennecdjay commented on #4
Oh yeah ;-)
ASAP.

[2016-10-20 08:17] fennecdjay commented on #6
Sorry I'm a bit in a rush today, it seems I forgot to move *soundio.c*  in the *driver* directory.
This way, it should only be included when **HAVE_SOUNDIO** is set to **1** in config.mk.
I really hope that will work. Sorry I'm just a self taught coder, not a proper dev, and Gwion is quite in a messy state now, but that will change soon.
pushed to dev.

[2016-10-20 16:12] PaulBatchelor commented on #6
Great! I will check it out later.

No worries by the way, it's all chill. I'm mostly a self taught programmer myself (a fellow un-proper dev), so I know how stressful it can be to have others looking at your code!

Getting your code to compile on other peoples computers is always a difficult step, so this is quite normal.

Take your time and don't worry! You got a good idea here. Keep up the good

[2016-10-20 16:19] PaulBatchelor commented on #6
Getting this now:

[2016-10-20 23:33] fennecdjay commented on #6
I just managed to use

instead of just

I **really** hope this will help.

Just in case, there a gist containing [parser.c](https://gist.github.com/6e6f9873b7c1ab0db49747c47c871f1d).
You can probably comment line **12** of *ast/Makefile*  and see how it goes.

[2016-10-21 11:49] fennecdjay commented on #4
I'm probably missing something, but it seems the link you provide leads lack a link to the source,
wich I failed to find in your Github repos either. It is pretty sure that having your sources as a model would shorten the time to get a **Sporth** UGen up and working.

[2016-10-22 17:38] PaulBatchelor opened #9 "No sound with JACK driver"
Hey again!

So, things compile, but I'm not getting sound from your sine example.
It runs, it connects to speakers, but it is completely silent.

Any idea what that could be?

Thanks,

-P

[2016-10-22 23:20] fennecdjay commented on #9
I **really** don't know.
Just got home, pushed a few changes I made, merged your stuff, compiled and I still get sound.
I'll check that.

By the way, does the sndfile driver work correctly for  you?

Anyway, I'm so happy you can compile now.

[2016-10-22 23:36] fennecdjay commented on #5
That would be so great!
If you already got some kind of fix, please go, I'd gadly use SP uptream version.
I'm still wondering what is the best way to do so.

[2016-10-24 17:00] PaulBatchelor commented on #9
how do I use the sndfile driver? what are the config.mk settings, and what do I run on the command line to test?

[2016-10-24 17:02] PaulBatchelor commented on #5
I don't have any fix implemented yet, but basically the user would be able to decide if they'd want floats or doubles, and Gwion wouldn't be aware of the data type since you'd just be using SPFLOAT.

[2016-10-24 17:03] PaulBatchelor commented on #4
Oh yeah, it has moved. It now resides in util/chorth instead of the top level directory...

[2016-10-24 17:06] PaulBatchelor opened #11 "Adopt config.def.mk system instead of config.mk"
I have noticed that you use config.mk, which is tracked by git. It would be much better to have this file untracked by git so that changes made by the user don't get overwritten. The way I'd do this is to have a config.def.mk, then have a Makefile rule like this:

config.mk: config.def.mk
     cp config.def.mk config.mk

You can have a look at the Makefiles Soundpipe/Sporth to see how this is done

[2016-10-25 20:00] fennecdjay commented on #11
This is done now, along with a few improves in build system.

[2016-10-25 20:00] #11 closed

[2016-10-25 20:12] fennecdjay commented on #9
look at the output of
[code]
or
[code]

you should get something like:
[code]

so if you try
[code]
you should end with */tmp.gwion_out_00.wav*  and */tmp/gwion_out_01.wav* each containing a one second sine wave.

It work on my station, I hope it will on yours.

[2016-10-25 20:21] PaulBatchelor commented on #9
This is what I get:

paul@darkstar:~/src/Gwion$ ./gwion -d sndfile -c gwion_out examples/sine.gw
registering output_0
registering output_1
system:playback_1
system:playback_2
zombified - calling shutdown handler
*** Error in `./gwion': corrupted double-linked list: 0x00007f0cf8000bb0 ***
Inconsistency detected by ld.so: dl-open.c: 224: dl_open_worker: Assertion
`_dl_debug_initialize (0, args->nsid

[2016-10-25 20:22] PaulBatchelor commented on #9
by the way, I am using the "dev" branch.

[2016-10-25 20:34] fennecdjay commented on #4
Just found it. Thank you.

[2016-10-25 20:37] PaulBatchelor commented on #4
Let me know if you have troubles. No other human other than myself has ever tried using the Sporth API, so there may be some undocumented things.

Just to make this issue more actionable, I would recommend doing a bare minimum Sporth ugen that has a method called "parse", which parses a Sporth strings. More things can come later (p values, tables, variables, etc...)

[2016-10-25 20:38] PaulBatchelor commented on #5
@fennecdjay do you use Trello at all? I have a Soundpipe trello for project management, and I would love to have you on the team!

[2016-10-25 21:22] fennecdjay commented on #9
**My mistake**.
the correct flag is *file*.
so the command is
[code]
if you the the *--raw* or *-r* flag, this is supposed to generate a **SPA** file.

you do wel for the "dev" branch, I don't plan to push anything on "master" branch before you can hear something from this program.

Do you have plugins installed? (because it might be related to that dl-open error)

[2016-10-25 21:29] fennecdjay commented on #4
I'm beginning to have something that compile, yet I have to implement sound,
wether I link with system libsporth or local libsporth.a, but at runtime, I hit this:
[code]

any hints?
Maybe I have to build a dynamic sporth lib.

[2016-10-25 22:51] fennecdjay commented on #5
I had never herad of Trello. but would gadly join the team.

[2016-10-26 08:20] fennecdjay commented on #4
Right now, with dinamically linked sporth lib, things get better, but the *ptest* example, modified for gwion keeps teling me:
[code]
Still searching was I'm doing wrong.

[2016-10-26 10:56] fennecdjay commented on #4
Things are getting better now, after compiling a dynamic *Sporth* library, it runs OK.
plug directory in *Gwion* is now a submodule, linked to *Gwion-plug*, and is the place to find the *Sporth* plugin.
I hope you can do something with this.
If you want and if I manage to get things clear on the dynamic library thing, I might make a pull request in *Sporth*.

[2016-10-26 15:44] PaulBatchelor commented on #4
There is definitely a way to get it working with a static library and you
shouldn't need to compile a dynamic library. The trick is the order that
you link things in with GCC or LD. See my makefile recipe in  chorth.

On Oct 26, 2016 03:56, "Jérémie Astor" <notifications@github.com> wrote:

[2016-10-26 16:11] fennecdjay commented on #4
Thanks for the hint. I'll give that a look.

[2016-10-27 10:48] fennecdjay commented on #4
It looks like it is working with the static lib.
I made some updates to [the plugins](https://github.com/fennecdjay/Gwion-plug).
But I must admit I have some troubles with submodule usage, so please check you use master branch of [Gwion-plug](https://github.com/fennecdjay/Gwion-plug).
I also made the dev branch Gwion's default branch, until further fixes.
If you run into trouble with [Sporth plugi

[2016-10-27 10:59] fennecdjay commented on #9
I'd really like you to get a least one driver working.
I'm afraid that on my platform every drivers seem to work correctly, so in the current state, I'm don't see how I quite don't see how I can help.
I guess I could fill the jack driver with debug statements, I you don't mind sending me back the output.

[2016-10-27 13:00] fennecdjay commented on #5
You migth be able to find me on [trello](http://trello.com), as now have an account.

[2016-10-27 16:13] PaulBatchelor commented on #9
@fennecdjay That new command you sent me seems to write files. However, the file is silence and is very short (it isn't 5 seconds).

When I run soxi on it I get this:

paul@darkstar:~/src/Gwion$ soxi gwion_out_00.wav

[code]

Which smells like it's not writing to disk properly.

[2016-10-27 16:14] PaulBatchelor commented on #5
I have added you on my Trello I think!

[2016-10-27 16:18] PaulBatchelor commented on #4
Cool. I'll close this ticket then.

[2016-10-27 16:18] #4 closed

[2016-10-27 16:27] fennecdjay commented on #5
Yes you did!

[2016-10-27 16:28] PaulBatchelor commented on #9
Did some googling on the jack error, and this was very informative:

For some reason, it's looking for libraries in strange places. This could be an issue on my end...

[2016-10-27 16:34] fennecdjay commented on #9
I just retried the sndfile driver stuff, and I get a one second wav file, with sound.
It is not supposed to be 5 seconds anyway.
Maybe that is SPFLOAT type related.
I think I'll make Gwion able to build with float by default, it might help.
I'll probably do that tomorrow evening.

[2016-10-27 16:40] PaulBatchelor commented on #9
I done goofed on my system. Rebooted, this looks better:

Now it's complaining about /usr/lib/Gwion/plug (it doesn't exist). and libflac.

[2016-10-27 16:43] PaulBatchelor commented on #9
fixed gwion plug error... now just libflac. huh. Let me look at this later...

[2016-10-30 15:55] fennecdjay commented on #5
I made a few fixes to Gwion, now it has a **USE_DOUBLE** variable in *config.def.mk*.
if unset, it compiles using **float**, and this is the *new* default.
Yet I've still got to improve the build system, I seems this works already with upstream Soundpipe.
Letting this issue opened because I don't know if you will see it if I close it.

also fixing the *README*.

[2016-10-30 17:54] PaulBatchelor commented on #5
@fennecdjay does this mean you are linking with libsoundpipe now, or are you just using floats by default in your fork?

[2016-10-30 18:01] PaulBatchelor commented on #9
I have sound now! See my pull request.

[2016-10-30 18:01] #9 closed

[2016-10-30 18:59] fennecdjay commented on #5
It links by default with vanilla soundpipe.
normally, just define jour driver in config.mk and type make.

[2016-10-30 19:50] fennecdjay commented on #5
let me know, so that I can close the issue.

[2016-10-30 19:51] PaulBatchelor commented on #5
I'm happy with that. Close away!

[2016-10-30 20:00] fennecdjay commented on #5
Great!
closing now.

[2016-11-03 09:45] fennecdjay opened #13 "scan"
- [ ] scan0
- [ ] scan1
- [ ] scan2
:book:
 test

[2016-11-26 01:15] fennecdjay opened #14 "segfault iff Plugin has error."
for instance, on duplicate declaration, import should fail, print that something went wrong,
and do remaining imports.

[2016-11-26 01:31] fennecdjay commented on #13
handle valgrind first.

[2016-11-26 01:31] #13 closed

[2016-11-29 17:10] fennecdjay opened #15 "yai (yet another issue)"
Ref. [NOTES.md:7](https://github.com/fennecdjay/Gwion/blob/953243b8051e0c00568f843c4ce794361a322c16/NOTES.md#L7)

[code]

(automatically generated by [Github-Todos](https://github.com/naholyr/github-todos))

[2016-11-29 17:14] fennecdjay opened #16 "other test"
Ref. [NOTES.md:8](https://github.com/fennecdjay/Gwion/blob/a258897b0f9ca7aebe1da45acd4d7b54b39f3d4d/NOTES.md#L8)

[code]

(automatically generated by [Github-Todos](https://github.com/naholyr/github-todos))

[2016-11-29 17:23] fennecdjay opened #17 "this is a fake issue, for testing purpose"
Ref. [NOTES.md:3](https://github.com/fennecdjay/Gwion/blob/e4c73b319b5d60b07452f552f9dbf127fc97888e/NOTES.md#L3)

[code]

(automatically generated by [Github-Todos](https://github.com/naholyr/github-todos))

[2016-11-29 17:48] fennecdjay opened #18 "yet again"
Ref. [NOTES.md:10](https://github.com/fennecdjay/Gwion/blob/3b4a334e641e5d313bb4e3eaeeafe71b8beb7ec6/NOTES.md#L10)

md
TODO yet again

(automatically generated by [Github-Todos](https://github.com/naholyr/github-todos))

[2016-11-29 17:49] fennecdjay opened #19 "test checkboxes"
Ref. [NOTES.md:12](https://github.com/fennecdjay/Gwion/blob/821a74e8d619c39db12a320410f6c0900d72724c/NOTES.md#L12)

md
[ ] TODO test checkboxes

(automatically generated by [Github-Todos](https://github.com/naholyr/github-todos))

[2016-11-29 17:50] fennecdjay commented on #19
Ref. [NOTES.md:12](https://github.com/fennecdjay/Gwion/blob/6b7620a317b8b4ef845e761af0b1f19735fb34b8/NOTES.md#L12)

md
  - [ ] TODO test checkboxes

(automatically generated by [Github-Todos](https://github.com/naholyr/github-todos))

[2016-11-30 00:10] #15 closed

[2016-11-30 00:10] #19 closed

[2016-11-30 00:11] #18 closed

[2016-11-30 00:11] #17 closed

[2016-11-30 00:12] #16 closed

[2016-11-30 00:14] fennecdjay commented on #14
- [ ] check this is still the case

[2016-12-01 00:23] fennecdjay commented on #14
need a test plugin for that , with, for instance, a duplicate variable declaration.

[2016-12-12 10:21] fennecdjay commented on #14
seems to be fixed.

[2016-12-12 10:21] #14 closed

[2016-12-23 11:12] #5 closed

[2016-12-23 11:30] fennecdjay opened #20 "yet another test"

[2016-12-23 11:36] #20 closed

[2016-12-23 11:37] fennecdjay opened #21 "yet another test"

[2016-12-23 11:37] fennecdjay opened #22 "yet another test"

[2016-12-25 12:32] #21 closed

[2016-12-25 12:32] #22 closed

[2017-01-16 00:56] fennecdjay opened #23 "Function pointer needs a check"

[2017-01-16 00:57] fennecdjay opened #24 "freeing is not correct yet"

[2017-01-18 12:52] fennecdjay commented on #23
yet there still migth be problems, close this for now.

[2017-01-18 12:52] #23 closed

[2017-02-04 03:10] #24 closed

[2017-02-07 01:15] fennecdjay opened #25 "needs Soundpipe dev branch"
...
make should run `make import`

[2017-02-08 00:08] #25 closed

[2017-02-09 01:31] fennecdjay opened #26 "Check driver assignement."
From config.def.mk:
[code]

this should be checked for invalid, and set xxx_D to 1.

[2017-02-10 12:03] fennecdjay opened #28 "import.lua should fails if directory does not exist"

[2017-02-10 15:52] #26 closed

[2017-02-10 15:52] #28 closed

[2017-02-10 18:38] fennecdjay opened #29 "Still requires a patch to work with Soundpipe master branch"

[2017-02-11 11:04] fennecdjay opened #30 "most test should be run in parrallel"

[2017-02-16 11:33] fennecdjay opened #31 "cast expression lack cast_valid"
[code]
should fail.

[2017-02-16 18:09] fennecdjay opened #32 "fails on invalid card"

[2017-02-23 13:35] fennecdjay opened #34 "2.3 +=> seems boken.(other also)"

[2017-02-23 23:28] fennecdjay opened #35 "Dtor seems broken"

[2017-02-23 23:29] fennecdjay opened #36 "in class Template function seem broken."

[2017-02-24 00:04] #32 closed

[2017-02-26 15:09] fennecdjay opened #37 "vector_append should check overflow."
and static implementation could be better:

  * MAP_MAX introduced in `89e9931` should be checked.
  * vector_append should check overflow.

[2017-02-26 22:29] fennecdjay commented on #34
Invalid diagnostic.
Problem was instr vector being overflowed.

[2017-02-26 22:29] #34 closed

[2017-02-27 01:22] fennecdjay opened #38 "Stat and Sndfile should be removed and `plugified`"

[2017-02-28 14:17] fennecdjay commented on #37
Yet we should switch to dynamic vector allocation.

[2017-02-28 20:11] #35 closed

[2017-02-28 20:29] fennecdjay commented on #38
see [this](https://gist.github.com/fennecdjay/2c6fa0ff318d54eb410f6f9e30159fde)

[2017-02-28 20:44] #38 closed

[2017-03-01 00:01] fennecdjay opened #39 "Use configure instead of config.mk"
Configure should check libraries and generate files.

[2017-03-02 14:55] fennecdjay commented on #31
For objects, it migth be enough to check if `C` is `D` or one of its parent.

[2017-03-03 18:26] fennecdjay commented on #31
This is done now.

[2017-03-03 18:26] #31 closed

[2017-03-03 18:27] fennecdjay commented on #39
Quite good now, but still lacks library check.

[2017-03-04 01:13] fennecdjay opened #40 "Something bad in Object_String_Plus"

[2017-03-04 01:44] fennecdjay opened #41 "Arrays leak memory"

[2017-03-05 22:02] fennecdjay opened #42 "ZeroX is broken."

[2017-03-07 13:03] fennecdjay opened #43 "coverage.sh is useful but also a piece of xxx"

[2017-03-07 13:04] fennecdjay opened #44 "Array leak memory"

[2017-03-07 13:04] fennecdjay opened #45 "Test do not need bats anymore, but still lask ASYNC"
or, at least, ASYNC does not look like working.

[2017-03-07 13:25] fennecdjay opened #46 "README needs update."
... configure ....

[2017-03-07 18:23] #44 closed

[2017-03-07 18:24] fennecdjay commented on #29
Drop support before reaching pre-alpha, and wait for release.

[2017-03-07 18:26] #46 closed

[2017-03-07 18:28] fennecdjay opened #47 "Soundpipe coverage."
First, try to get soundpipe.c in the build.

[2017-03-07 18:31] fennecdjay commented on #47
`f4933ca` should keep it.

[2017-03-07 18:36] fennecdjay commented on #45
`f4933ca` tries async=2.

[2017-03-07 18:36] #30 closed

[2017-03-07 18:49] fennecdjay commented on #45
looking [here](https://travis-ci.org/fennecdjay/Gwion/jobs/208693229#L2111), it seems not to execute in with good timing 😢

[2017-03-12 22:39] #43 closed

[2017-03-12 22:39] #47 closed

[2017-03-14 22:19] fennecdjay commented on #41
done sine `64983c823`

[2017-03-14 22:19] #41 closed

[2017-03-14 22:36] fennecdjay commented on #42
fixed in `94a2518`

[2017-03-14 22:36] #42 closed

[2017-03-14 23:18] fennecdjay commented on #39
* [ ] add usage to README.md

[2017-03-15 22:23] fennecdjay opened #48 "Machine.check may leak memory."
due to the fact it isn't run the vm after parsing.
should we create a *fake* emitter to clean that? :cake:

[2017-03-16 00:26] fennecdjay commented on #48
Or not: the bit that leaks memory is
[code]

...

it may also leak in normal mode.

[2017-03-16 00:39] fennecdjay commented on #48
Was also in normal mode.
Fixed in `b69c82b`.
Yet Machine.compile seems broken.

[2017-03-17 08:03] #36 closed

[2017-03-17 10:32] #45 closed

[2017-03-17 16:33] #29 closed

[2017-03-17 17:16] #48 closed

[2017-03-17 17:16] #39 closed

[2017-03-18 11:30] #40 closed

[2017-03-25 07:45] PaulBatchelor opened #49 "Floating-point precision"
Gwion's autoconf is telling me that I need to compile soundpipe with doubles support. Is there any way to get Gwion to support floating point precision in addition to double precision?

[2017-03-25 11:16] fennecdjay commented on #49
@PaulBatchelor : YES!
The README needs serious improvment, to prevent such cases.
Concerning your issue, pass it `--no-double` as argument.
Also while still a bit unclear,
[code]
migth give you some info.
 Thanks for the care.

[2017-03-25 12:16] fennecdjay opened #50 "Build system needs proper Documentation."
see #49 .
*Build system* probably deserves it own .md page (Building.md ?).

thanks to @PaulBatchelor for rising this issue.

[2017-03-25 13:42] fennecdjay commented on #49
Commit [d31cf00](https://github.com/fennecdjay/Gwion/commit/d31cf00bf6f335e6d9df659e6b1f5b2c6800aa23) now defines **float** as default float type, to match  [Soundpipe](https://github.com/PaulBatchelor/Soundpipe)'s defaults. So if you pull, there'll be no more need to pass `no-double` argument.
Glad you give Gwion a chance 😄

[2017-03-25 16:32] fennecdjay opened #51 "prepare for homebrew."

[2017-03-27 23:49] fennecdjay commented on #49
@PaulBatchelor  did you get it working?

[2017-03-27 23:54] PaulBatchelor commented on #49
When I run "./configure --no-double", I get:

[2017-03-28 00:01] fennecdjay commented on #49
I see.  I'm very confused when it comes to writing docs. But they are really lacking now...
Anyway, your problem is that `configure` needs to know where your soundpipe's `module/data` is. This is set by `--data`, so should try either
[code]
or
[code]

Thanks by the way, I just noticed it didn't return error when this fails. :smile:

-----------

If you think of any location that would be a better

[2017-03-28 00:17] PaulBatchelor commented on #49
Cool that compiles.  I had to supply an absolute path to the data dir and couldn't use "~". Is there any reason why there's a dependency on my data files in Soundpipe?

[2017-03-28 00:24] fennecdjay commented on #49
The reson of this dependency is that gwion's build system generates it's soundpipe part (ugen/soundpipe.c) using these lua files.
I've been thinking providing these, but that enables to be always up-to-date with your repo.
That's how I've been finding [this](https://github.com/fennecdjay/Gwion/issues/49#issuecomment-289624099) issue.

I'm gonna investigate the "~" issue.

[2017-03-28 00:29] PaulBatchelor commented on #49
What's the advantage of having the user generate that file? Seems to me like an extra step.

[2017-03-28 00:32] fennecdjay commented on #49
IMO, it makes the user able to use wich branch of your project it wants. Maybe I'm wrong.
Anyway, that `configure` stuff is still a work in progress, to I gladly take any advice.

[2017-03-28 00:36] fennecdjay commented on #49
Well, it seems to work on my platform, so without more input, I won't be able to fix that. 😢

[2017-03-28 00:43] PaulBatchelor commented on #49
I would suggest having a default generated soundpipe.c that you generating on your computer using the "master" branch of soundpipe. Having these little extra steps is not encouraging to the impatient user who wants things up and running as fast as possible.

[2017-03-28 00:44] PaulBatchelor opened #52 "What's supposed to happen when I run gwion?"
With gwion compiled, I run this command:

    ./gwion examples/sine.gw

And nothing happens. Am I doing something wrong?

[2017-03-28 00:51] fennecdjay commented on #52
No.
It is still my bad : confused:
I definitely need to write more about configure.
The most probable thing happening here is that you compiled with `dummy` as the default driver, so it runs, computes the sine, but does it as fast as possible and outputs no sound.
Looking at `util/config.template` (the file passed to `util/mk_configure.bash` in order to generate configure), it looks like `alsa` in

[2017-03-28 00:53] fennecdjay commented on #49
You're rigth, I'll probably just enable generation on demand in configure.

[2017-03-28 00:57] fennecdjay commented on #52
I'm gonna stop proscratinating and write `Configure.md` after a good sleep (it's almost 3 am in france at the time of writing 🕐 ).

[2017-03-28 01:01] PaulBatchelor commented on #52
I can't use ALSA since I haven't configured the soundcard for it. Preferably, I'd like to use JACK.

Running ``./gwion -d sndfile example/sine.gw`` doesn't do anything either :/

[2017-03-28 01:22] fennecdjay commented on #52
Good catch!
Jack should be working, but I haven't tested it since the build system update (I've only test alsa silent and dummy).
I'm gonna fix all that stuff, and warn you when it's done, hopefully before tomorrow evening.

I just can't tell you how grateful I am for your help.

[2017-03-28 01:31] PaulBatchelor commented on #52
No problem. Keep up the good work!

Looking forward to your fixes.

[2017-03-28 14:11] fennecdjay commented on #52
Things should be better now, yet I still have to write `Configure.md`. Warning you when it's done.

[2017-03-28 16:08] fennecdjay commented on #52
As of `4c3d0a75`, there is now `Configure.md`, which should document the configure process.

[2017-03-31 12:43] #37 closed

[2017-05-17 18:26] fennecdjay opened #55 "few namespace function should be inlined"

[2017-05-17 22:48] #55 closed

[2017-05-25 16:50] fennecdjay commented on #52
@PaulBatchelor, normally , if you run this, you should end up with `gwion_00.wav`  `gwion_01.wav` in your `/tmp` directory.
You can change this location with the `-c` or `--card` flag:
[code]
should create `my_file_00.wav` and `my_file_01.wav` in the current directory.
I have to make it clearer somehow (it is already decribed in the help message, but it's a bit obscure)
Sorry for the late answer.

[2017-07-18 19:37] fennecdjay commented on #49
Done (this long).

[2017-07-18 19:37] #49 closed

[2017-07-18 19:38] #50 closed

[2017-07-18 19:38] #52 closed

[2017-08-06 16:31] fennecdjay commented on #51
This will wait until further asking.

[2017-08-06 16:31] #51 closed

[2017-08-14 12:51] fennecdjay opened #58 "Vararg is somehow broken"
### Description
Vararg only work for variadic args.

### Steps to recreate
1. define variadic func with default args.
2. call it
3. watch the args do not match

### Current behavior
For instance , `int` should not emit address

### Expected behavior
Arguments should be emiited normally

[2017-08-14 15:06] #58 closed

[2017-08-23 09:42] royk opened #66 "Can't install on Fedora via instructions"
I installed soundpipe and followed the installation instructions, and got this:

alsa/asoundlib.h: no such file or directory.

Googling lead me here:
https://ubuntuforums.org/showthread.php?t=1586707

Solved by running:
sudo yum install alsa-lib-devel

[2017-08-23 09:54] fennecdjay commented on #66
Thank you @royk for your interrest.
I use [Archlinux](https://www.archlinux.org/), on which devellopment headers are always installed with the library, that's why I didn't figured out I should mention installing them on the instructions.
Please keep this opened until instructions are fixed.
And let me know if you run into more problems 😕 .

[2017-08-25 10:50] fennecdjay commented on #66
@royk do you think that would do (when placed in the Driver section)?

[2017-11-06 02:28] fennecdjay commented on #66
Issue look dead.

[2017-11-06 02:28] #66 closed

[2018-01-20 00:45] todo[bot] opened #84 "enable static"
https://github.com/fennecdjay/Gwion/blob/3d02a2c16eb6271492546968c4b86b4ffbce50be/src/parse/scan0.c#L103-L108

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 3d02a2c16eb6271492546968c4b86b4ffbce50be. It's been assigned to @fennecdjay because they committed the code.

[2018-03-23 20:00] #84 closed

[2019-03-01 09:11] todo[bot] opened #106 "improve me"
https://github.com/fennecdjay/Gwion/blob/7f85679ee48440a20a66a2e730c4700caddd45b0/src/emit/emit.c.save#L1460-L1465

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7f85679ee48440a20a66a2e730c4700caddd45b0. It&#x27;s been assigned to @fennecdjay because they committed the code.

[2019-03-11 12:14] #106 closed

[2019-04-02 23:06] todo[bot] opened #111 "find what's going on here"
https://github.com/fennecdjay/Gwion/blob/9ce3b721f00cda6153f947a89757d9460ec97f64/src/lib/object.c#L72-L77

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9ce3b721f00cda6153f947a89757d9460ec97f64 when #110 was merged. cc @fennecdjay.

[2019-05-14 15:43] scalarwaves opened #112 "Binding to other languages"
First of all thank you for making Gwion! I love ChucK and this project could be of great use to me. Recently I’ve been trying to create a C wrapper for ChucK to bind with a Rust library. It hasn’t been easy, though that’s not to say ChucK isn’t awesome. Is there a master header like *gwion.h* that would provide an API suitable for FFI with Rust?

[2019-05-14 16:08] fennecdjay commented on #112
Brillant!
Actually not yet. There is *gwion_util.h* and *gwion_ast.h* for the libraries, and an actual *gwion.h* for an actual **Gwion** structure.
I've been thinking into unifying all these though.
Definitely gonna look at it soon and warn you.

[2019-05-14 16:16] scalarwaves commented on #112
Wonderful. If you're interested, [ruckus](https://github.com/tonal-glyph/ruckus) is the Rust+ChucK project, which is part of a group of projects related to my WIP digital audio workstation [tgtracker](https://github.com/tonal-glyph/tgtracker). How does Gwions plugin system work with LLVM and all that? Is it similar to Chugins?

[2019-05-14 16:34] fennecdjay commented on #112
I don't know anything about rust FFI, so I'm afraid I won't be able to help on this unless you get more specific ;-)
Anyway **Gwion** plugin system should be quite similar to **Chuck**'s. Just dynamic libraries loaded at runtime.
In **Gwion** case, you have to define an GWION_IMPORT function to define a class.
Note that you can also define a driver (e.g. sound ouput) with GWDRIVER and a module (e.

[2019-05-14 16:46] fennecdjay commented on #112
I had a quick look at **ruckus**, and I'm not quite sure what's going on there, but I think you should look [here](https://github.com/fennecdjay/Gwion/blob/master/src/main.c#L28-L42).
These few lines should enable you to start and run a gwion process. To add more files/strings, you'll need the functions in [compile.h](https://github.com/fennecdjay/Gwion/blob/master/include/compile.h).

Also [that]

[2019-05-14 16:57] scalarwaves commented on #112
Indeed, libgwion.a or libgwion.so would be quite useful, if you could manage it.

[2019-05-14 17:05] fennecdjay commented on #112
Looking at it :smile:

[2019-05-14 17:18] fennecdjay commented on #112
Maybe you can add
[code]
to your Makefile (line 74).

[2019-05-14 17:24] scalarwaves commented on #112
When trying to add that to makefile I got a
`Makefile:74: *** missing separator.  Stop.`

[2019-05-14 17:25] fennecdjay commented on #112
Ins't that because you pasted it and hence loosed the leading TAB of line 2?
Anyway I be pushing in a few minute. Hopefully you'll tell me then.

[2019-05-14 17:33] scalarwaves commented on #112
Yep, that was the problem. I got it working by fixing the tab and adding libgwion.a to the all: target. When you push I'll pull your changes. This is really cool!

[2019-05-14 17:34] fennecdjay commented on #112
I already pushed, just waited for [this](https://travis-ci.org/fennecdjay/Gwion/builds/532413888) to finish to warn you :+1:

[2019-05-14 17:43] scalarwaves commented on #112
Ok, GCC and some Clang builds succeeded. Does the libgwion.a target need to be added to the all: target? Like this:
`all: options util/libgwion_util.a ast/libgwion_ast.a libgwion.a ${GW_OBJ} ${jit_obj}`

[2019-05-14 17:47] fennecdjay opened #113 "the *all:* target to make use of libgwion.a"
related to #112.

[2019-05-14 17:50] fennecdjay commented on #112
Not yet.

...

Coming Soon :smiley:

----------
Yes clang/windows builds fail due to some header inclusion issue I did not fix yet.

[2019-05-14 17:59] fennecdjay commented on #113
Fixed by [this commit](https://github.com/fennecdjay/Gwion/commit/5a9237ba03d251c07f3fd150acc659b4d2fff6c6)

[2019-05-14 18:01] scalarwaves commented on #112
Clang is no issue right now, I’m mostly using gcc.

[2019-05-14 18:14] fennecdjay commented on #112
As I understand you might use **Gwion** inside [tgtracker](https://github.com/tonal-glyph/tgtracker). How do you plan sound output?

[2019-05-14 18:25] scalarwaves commented on #112
That's still to be decided. I want tgtracker to be cross-platform as much as possible, so the current plan is to use Rust bindings [rsoundio](https://github.com/klingtnet/rsoundio) to [libsoundio](https://github.com/andrewrk/libsoundio), which can output to:
- JACK
- PulseAudio
- ALSA
- CoreAudio
- WASAPI

The other option is the Rust library [cpal](https://github.com/tomaka/cpal), which can outpu

[2019-05-14 18:32] fennecdjay commented on #112
So as far as I understand it, you'll do mixing in tg. You're gonna need a driver to input/ouput
data in/out **Gwion**. I'll be glad to help if it's the case.

[2019-05-14 18:35] scalarwaves commented on #112
Yes thank you. I'm very new to systems programming so I need all the help I can get. I'll focus on audio IO and see if i can get some input and output streams and a mixer. I'll also setup bindgen to attempt codegen for gwion_all.h and see how that turns out.

[2019-05-14 19:09] fennecdjay commented on #111
No longer relevant.

[2019-05-14 19:09] #111 closed

[2019-05-16 16:00] scalarwaves commented on #112
I'm setting up a copy of gwion tailored to my dev environment which can be very picky about some things _ugh_  As much as I love ChucK, the project layout is frustrating. I like how you've structured your code. Speaking of binding to other languages, have you ever thought about a Chuck => Gwion bridge? Since the syntax is sooo similar, shouldn't be too hard to translate one to the other.

[2019-05-16 16:58] fennecdjay commented on #112
Happy to read that, I guess that's kind of a [point of view](https://bettercodehub.com/results/fennecdjay/Gwion).
I don't think one can achieve fully automatic *Chuck => Gwion* bridge easily.
(UAana's, STK, would need a matching plugin).
But a simple bash script could be handy :+1:

[2019-06-06 17:12] todo[bot] opened #118 "put in func"
https://github.com/fennecdjay/Gwion/blob/67cfe8e924e65c2255c89454ccaccbe48d659e46/src/emit/emit.c#L816-L821

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 67cfe8e924e65c2255c89454ccaccbe48d659e46 when #117 was merged. cc @fennecdjay.

[2019-06-06 17:12] todo[bot] opened #119 "find why we need this"
https://github.com/fennecdjay/Gwion/blob/67cfe8e924e65c2255c89454ccaccbe48d659e46/src/emit/emit.c#L1679-L1684

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 67cfe8e924e65c2255c89454ccaccbe48d659e46 when #117 was merged. cc @fennecdjay.

[2019-06-06 17:12] todo[bot] opened #120 "commenting this should not happen"
https://github.com/fennecdjay/Gwion/blob/67cfe8e924e65c2255c89454ccaccbe48d659e46/src/oo/type.c#L28-L32

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 67cfe8e924e65c2255c89454ccaccbe48d659e46 when #117 was merged. cc @fennecdjay.

[2019-06-06 17:12] todo[bot] opened #121 "'v' should be 2° argument"
https://github.com/fennecdjay/Gwion/blob/67cfe8e924e65c2255c89454ccaccbe48d659e46/src/parse/scanx.c#L40-L43

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 67cfe8e924e65c2255c89454ccaccbe48d659e46 when #117 was merged. cc @fennecdjay.

[2019-06-06 18:42] fennecdjay commented on #113
Window build are fixed. (the remaining bug is clans/Windows related)

[2019-06-06 18:42] #113 closed

[2019-06-06 18:46] fennecdjay commented on #118
Just put that bit in some func.

---
However, it should be nice to investigate a bit more and have a _new_dottmpl_ func.

[2019-06-06 18:54] fennecdjay commented on #121
Basically the task is to enhance cohesion in scanx.c

[2019-06-06 18:57] fennecdjay commented on #112
If you're OK, @scalarwaves, I close this issue as we have a better place for this discussion.

[2019-06-06 18:59] #112 closed

[2019-06-09 22:00] #119 closed

[2019-06-09 22:00] todo[bot] opened #124 "differenciate object and primitives"
https://github.com/fennecdjay/Gwion/blob/eff1951551ecad706e035d410da2302f7e872622/src/lib/vararg.c#L60-L65

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in eff1951551ecad706e035d410da2302f7e872622 when #123 was merged. cc @fennecdjay.

[2019-06-16 12:45] fennecdjay commented on #124
Let it for now as a way to abuse the compiler but do not mess with the vm

[2019-06-16 12:45] #124 closed

[2019-06-16 22:34] fennecdjay commented on #120
Fix by last pull request

[2019-06-16 22:34] #120 closed

[2019-06-19 23:40] todo[bot] opened #127 "verify this -->"
https://github.com/fennecdjay/Gwion/blob/40041a19e9b15e8515c85d8f21add221650c1783/docs/WIP_Plugins.mdr#L13-L18

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 40041a19e9b15e8515c85d8f21add221650c1783 when #126 was merged. cc @fennecdjay.

[2019-06-20 15:45] fennecdjay commented on #127
This is outdated. Just tell in on top of the page.

[2019-06-20 17:21] fennecdjay opened #128 "Start adding contributors"
@all-contributors please add PaulBatchelor for question bug code idea

[2019-06-20 17:23] fennecdjay commented on #128
@all-contributors please add PaulBatchelor for question bug code idea
@all-contributors please add originalsouth for question bug code
@all-contributors please add  originalsouth for question bug code idea

[2019-06-20 17:23] fennecdjay commented on #128
@all-contributors please add PaulBatchelor for question bug, code and idea
@all-contributors please add originalsouth for question bug, code
@all-contributors please add originalsouth for question bug, code and idea

[2019-06-20 17:24] fennecdjay commented on #128
@all-contributors please add @PaulBatchelor for question bug, code and idea
@all-contributors please add @originalsouth for question bug, code
@all-contributors please add @scalarwaves  for question bug, code and idea

[2019-06-20 17:25] fennecdjay commented on #128
@all-contributors please add @PaulBatchelor for question bug, code and idea

[2019-06-20 17:26] fennecdjay commented on #128
@all-contributors please add @originalsouth for question bug, code

[2019-06-20 17:27] fennecdjay commented on #128
@all-contributors please add @scalarwaves for question bug, code and idea

[2019-06-20 17:28] fennecdjay commented on #128
@all-contributors thank you

[2019-06-20 17:28] #128 closed

[2019-06-20 19:32] todo[bot] opened #132 "add benchmarks in doc and link to it -->"
https://github.com/fennecdjay/Gwion/blob/48bfe3ceae153a4ef4920fcbb0668f6f18295ffb/README.md#L12-L16

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 48bfe3ceae153a4ef4920fcbb0668f6f18295ffb. It&#x27;s been assigned to @fennecdjay because they committed the code.

[2019-06-24 18:20] todo[bot] opened #134 "remove me"
https://github.com/fennecdjay/Gwion/blob/39f520e725bd731801be9f89c9fa2edf841c585b/src/vm/vm.c#L768-L773

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 39f520e725bd731801be9f89c9fa2edf841c585b when #133 was merged. cc @fennecdjay.

[2019-06-28 17:52] #132 closed

[2019-07-03 03:20] #134 closed

[2019-09-14 12:34] todo[bot] opened #144 "err_msg"
https://github.com/fennecdjay/Gwion/blob/7b2523044458cc2e6a74b441bccd91e31c984b0f/src/emit/emit.c#L595-L600

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7b2523044458cc2e6a74b441bccd91e31c984b0f. It&#x27;s been assigned to @fennecdjay because they committed the code.

[2019-09-21 11:36] todo[bot] opened #147 "header"
https://github.com/fennecdjay/Gwion/blob/1de1c267b3ff013f5198ee1e1d5d7def9128a7c2/src/emit/emit.c#L1057-L1061

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1de1c267b3ff013f5198ee1e1d5d7def9128a7c2 when #146 was merged. cc @fennecdjay.

[2019-09-21 11:44] #147 closed

[2019-10-01 13:41] #144 closed

[2019-10-10 19:29] todo[bot] opened #152 "NOW!!! check templating"
https://github.com/fennecdjay/Gwion/blob/12eda37b49eda31b38107ca2903099a2450b020e/src/lib/import.c#L137-L142

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 12eda37b49eda31b38107ca2903099a2450b020e when #150 was merged. cc @fennecdjay.

[2019-10-10 23:12] todo[bot] opened #153 "make a func"
https://github.com/fennecdjay/Gwion/blob/6213eeb675014fd668b780897dd35b320725fa17/src/parse/scan0.c#L203-L208

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6213eeb675014fd668b780897dd35b320725fa17. It&#x27;s been assigned to @fennecdjay because they committed the code.

[2019-10-10 23:12] todo[bot] opened #154 "make a func also for name, used in union too"
https://github.com/fennecdjay/Gwion/blob/6213eeb675014fd668b780897dd35b320725fa17/src/parse/scan0.c#L208-L213

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6213eeb675014fd668b780897dd35b320725fa17. It&#x27;s been assigned to @fennecdjay because they committed the code.

[2019-10-10 23:57] #154 closed

[2019-10-10 23:57] #153 closed

[2019-10-11 02:43] todo[bot] opened #155 "simplify this"
https://github.com/fennecdjay/Gwion/blob/468f469e9b0b36611e4110f2f2a60dbb642767fc/src/parse/check.c#L424-L427

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 468f469e9b0b36611e4110f2f2a60dbb642767fc. It&#x27;s been assigned to @fennecdjay because they committed the code.

[2019-10-12 16:36] #127 closed

[2019-10-12 16:36] #121 closed

[2019-10-12 16:36] #118 closed

[2019-10-13 13:06] #155 closed

[2019-10-13 13:06] #152 closed

[2019-10-13 20:29] todo[bot] opened #157 "clean me"
https://github.com/fennecdjay/Gwion/blob/7815ad49c50e05e8656d25ad07c6b72843da0539/src/parse/template.c#L215-L220

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7815ad49c50e05e8656d25ad07c6b72843da0539. It&#x27;s been assigned to @fennecdjay because they committed the code.

[2019-10-13 20:33] #157 closed

[2019-10-13 21:51] fennecdjay opened #158 "Test ticket from Code Climate"

[2019-10-13 21:52] #158 closed

[2020-02-21 13:11] fennecdjay opened #167 "Just a test [unedited]"
**Well, ask your question**
A clear and concise description of what yor question is.

**Additional context**
Add any other context about the question here.
It is OK to go in details.

Edit

[2020-02-21 13:13] fennecdjay commented on #167
some edit

[2020-02-21 13:14] fennecdjay commented on #167
more edit

[2020-02-25 15:11] #167 closed

[2020-04-05 16:22] todo[bot] opened #169 "*"
https://github.com/fennecdjay/Gwion/blob/875bc8a919e57d2512a83e965cd328adb4229a8e/.gitignore#L1-L4

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 875bc8a919e57d2512a83e965cd328adb4229a8e. It&#x27;s been assigned to @fennecdjay because they committed the code.

[2020-04-05 16:52] #169 closed

[2020-05-17 11:34] fuzzit-dev[bot] opened #170 "[FUZZIT] Crash at fuzzing target gwion"
A new crash was discovered for fuzzing target gwion.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/fennecdjay-gh/targets/gwion/AbQfs2fixi9lpGwCU9bY)

Cheers,
Fuzzit Bot

[2020-05-17 11:35] fuzzit-dev[bot] opened #171 "[FUZZIT] Crash at fuzzing target gwion"
A new crash was discovered for fuzzing target gwion.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/fennecdjay-gh/targets/gwion/AbQfs2fixi9lpGwCU9bY)

Cheers,
Fuzzit Bot

[2020-05-25 12:51] fuzzit-dev[bot] opened #172 "[FUZZIT] Crash at fuzzing target gwion"
A new crash was discovered for fuzzing target gwion.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/fennecdjay-gh/targets/gwion/2NZi7Ll4ngyioDePRX5h)

Cheers,
Fuzzit Bot

[2020-05-25 12:51] fuzzit-dev[bot] opened #173 "[FUZZIT] Crash at fuzzing target gwion"
A new crash was discovered for fuzzing target gwion.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/fennecdjay-gh/targets/gwion/2NZi7Ll4ngyioDePRX5h)

Cheers,
Fuzzit Bot

[2020-07-24 14:03] fennecdjay commented on #18
@all-contributors please add  aleserche for code.

[2020-07-24 14:09] fennecdjay commented on #18
@all-contributors please add @Aleserche for code.

[2020-07-24 14:11] fennecdjay commented on #18
@all-contributors please add @Aleserche for code.

[2020-08-04 07:02] Pranav2612000 opened #175 "Adding a Hello World Program to examples"
**Describe the solution you'd like**
What do you think of adding a hello world program to examples? And mentioning how to run this file in the readme

**Additional context**
This would make it much easier for newcomers to run the basic hellow world program first.

[2020-08-04 07:06] fennecdjay commented on #175
I think we'd better have a mini-tutorial in the README, after the build section, invite the user to type it's own **hello world** (but an example has to be supplied), save it, and show how to run it.
What to you think?
Would you fancy doing the REAMDE edits?

[2020-08-04 07:08] fennecdjay commented on #175
Also, does it work on your machine?

It should, all CI test are green, but you never know you know ... :smiley:

[2020-08-04 07:44] Pranav2612000 commented on #175
Yeah. Sure. Any other things that need to be added to it?

[2020-08-04 07:47] Pranav2612000 commented on #175
Yes. It does. I forgot the dreaded semicolon before, so was throwing errors, but now it does work. Although, and this may be a minor issue, when the compilation failed due to the syntax error, an underline was being added to my terminal text. Should I create a new issue for this?

Any other non-documentation beginner-friendly issues I can work on?

[2020-08-04 07:52] fennecdjay commented on #175
Please do.

None out of my head, but I'll give it a look.
Thank you for asking.

[2020-08-04 07:52] fennecdjay commented on #175
Are you working on the README issue?

[2020-08-04 08:10] fennecdjay commented on #175
As you can see I found a simple issue: fennecdjay/gwion-ast#5.

[2020-08-04 08:27] fennecdjay commented on #175
@all-contributors please add @Pranav2612000  for User Testing.

[2020-08-05 18:26] Pranav2612000 commented on #175
Yes. I'll send a PR tomorrow.

[2020-08-05 18:30] fennecdjay commented on #175
Can't wait!

[2020-08-05 18:30] fennecdjay commented on #175
Oh, and please pull from the master, as the README changed with the bot PR.

[2020-08-05 18:32] Pranav2612000 commented on #175
Yup.

[2020-08-07 19:01] fennecdjay commented on #175
Closing now as you did great work!

[2020-08-07 19:01] fennecdjay commented on #175
Feel free to reopen.

[2020-08-07 19:14] #175 closed

[2020-08-07 20:07] fennecdjay opened #179 "Doc: Installation procedure should be documented in the README"
After the [first code](https://github.com/fennecdjay/Gwion#executing-your-first-code-hello_worldgw) section, there should be some info about how installing Gwion.

That's basically `make install`.

[2020-08-16 18:24] rohanThegreaTT commented on #179
So, is gwion util and ast in this repo? or in different ones?

[2020-08-16 18:42] fennecdjay commented on #179
Happy to read you :smile:

Those are submodules (they should be in your local version of the repo when you `git submodule update --init util ast`).

I recently updated the Makefile, so `Makefile`, `ast/Makefile` and `util/Makefile` would probably just need a check of `install` and `uninstall` targets.

Sorry I had no time to update the project board/issues, I'm trying to figure out how to leverage

[2020-08-19 14:09] rohanThegreaTT commented on #179
i'd love to join the organisation! And thanks, This really helps (One of the hardest parts of starting to work on an open source project is learning about how everything works)

[2020-09-03 09:45] fruit-matrix opened #180 "Hello! I'd like to work on your project"
**Well, tell us what you think**

[2020-09-03 09:49] fennecdjay commented on #180
Nice to read you here :smile:
Please accept the invitation (I'll be sending in minutes).
Remember there is no stupid question, in particular in this project where a lot of documentation is lacking, so raising question leads to more sensible/complete docs.
Cheers!

[2020-09-03 13:43] dk4267 commented on #180
Hey, I'm interested as well.

[2020-09-03 13:49] fennecdjay commented on #180
Inviting you right now :smile:

[2020-09-03 14:20] fennecdjay commented on #180
@dk4267, is there anything you want to discuss/point out?
I had a conversation with @fruit-matrix earlier today, it helped me figuring out some things that are still unclear about this project (yet I got to write them up).
If so, don't be shy and contact me, either on reddit or use github discussions when you've joined.
Looking forward reading you.

[2020-09-16 18:01] amberisvibin commented on #180
Hello! I would also like to help out, if I can. I found your repo through the dev.to request for contributions.
I have semi-moderate knowledge of c, but am willing to help out on the documentation.

[2020-09-16 18:05] fennecdjay commented on #180
@amberisvibin that's lovely? I'm inviting you right now!

[2020-09-16 18:08] amberisvibin commented on #180
I've joined! How is communication done? The email list?

[2020-09-16 18:32] fennecdjay commented on #180
I think the teams page will be enough for communication. A bit busy at the moment, but I'll find some time soon to document the documentation process. I'll let you know. Cheers!

[2020-09-16 18:33] amberisvibin commented on #180
Thank you!

[2020-09-22 13:01] fennecdjay commented on #128
@all-contributors please add amberisvibin  for question documentation idea

[2020-09-24 16:24] fennecdjay opened #182 "scan0_section could use an array of functions"
For consistency, `scan0_section` should use an array of function, as in e.g. scan1_section.

[2020-10-02 08:25] TotallyNotChase commented on #182
is this issue still up for grabs? if so, where exactly is `scan1_section` defined?

[2020-10-02 09:08] fennecdjay commented on #182
Totally up for grabs! And pretty easy I think.
You might be able to fix it by 2 new lines and deleting some :smile:
IMHO the best way to code.

You can find `scan1_section` in `src/parse/scan1.c`, look [here](https://github.com/fennecdjay/Gwion/blob/master/src/parse/scan1.c#L578). That's a macro, defined in `ast/include/ast_pass.h` [here](https://github.com/fennecdjay/gwion-ast/blob/master/include

[2020-10-02 16:30] TotallyNotChase commented on #182
Sorry, could you tell me how I can verify if everything is working fine after the change? I did `make test` and that passed but is there anything else I should check?

[2020-10-02 19:46] fennecdjay commented on #182
Not at the moment. Maybe static analysis (in the CI) will find something to complain about, but that IMO quite unlikely here.

[2020-10-02 19:59] fennecdjay commented on #182
You make me think that the testing process should be documented [here], alongside the whole [code contribution](https://fennecdjay.github.io/Gwion/Contributing/ContributingCode.html) process. Thank you : smile:

[2020-10-02 20:45] fennecdjay opened #184 "Coverage report CI should not use gwion-action"
Rather simply build it like in the other actions, setting `USE_COVERAGE` as an environment variable.

[2020-10-03 09:49] #182 closed

[2020-10-03 10:46] fennecdjay opened #186 "Fix .all-contributorsrc"
As reported by @TotallyNotChase in #185, the all-contributors badge is currently broken.
However, that's an easy fix, just add the paren where needed [here](https://github.com/fennecdjay/Gwion/blob/master/.all-contributorsrc#L84).

[2020-10-03 10:54] fennecdjay opened #187 "Newer workflows should cancel older ones."
Pretty what's in the title.
There an action for this in the marketplace, should be a no-brainer to implement.

[2020-10-03 11:00] fennecdjay commented on #179
@rohanThegreaTT do you want to handle this issue? Since its hacktoberfest, I'd like to make it clear wether someone can pick it up or not. Thanks.

[2020-10-03 11:41] evayde commented on #186
Looks like this has been fixed in https://github.com/fennecdjay/Gwion/commit/ed4de6197a9db8a0511eb3783531eccbaf0d1dbf and thus this issue ought to be closed.

[2020-10-03 11:42] fennecdjay commented on #186
You're right, Thank you.

[2020-10-03 11:42] #186 closed

[2020-10-03 12:24] fennecdjay opened #192 "find_template_match should be in its own file."
Currently [find_template_match](https://github.com/fennecdjay/Gwion/blob/master/src/parse/check.c#L546-L617) is too big and takes a lot of space in `src/parse/check.c`
It would be better to move it to its own file (e.g: src/parse/func_resolve_tmpl.c` with its siblings (ensure_tmpl, check_template_args and probably a few other).
Bonus points for splitting the functions and maybe defining a struct t

[2020-10-03 14:37] Pranav2612000 commented on #192
I'll like to work on this.

[2020-10-03 15:25] fennecdjay commented on #192
Please do! That's a great one.

[2020-10-03 16:00] Pranav2612000 commented on #192
Hey, I need some help. Will I need to create a new header file, which contains the definition of find_template_match, and include this file in check.c ?

[2020-10-03 18:47] fennecdjay commented on #192
You're just fine, a new header (with guards e.g :`#__ifndef __TEMPLATE_MATCH__` ... like the other headers) to include in `src/parse/check.c` is the way to go.

[2020-10-03 20:58] fennecdjay commented on #187
Fixed by #190

[2020-10-03 20:58] #187 closed

[2020-10-04 06:47] TotallyNotChase commented on #184
Should [this step](https://github.com/fennecdjay/Gwion/blob/498b9c27f1fce6f752ebbc4f9cba7fb84d211b92/.github/workflows/coverage.yml#L21) be replaced with a regular `checkout@v2` action followed by a
[code]
And also followed by a
[code]
?

[2020-10-04 09:14] fennecdjay commented on #184
Yes. You'll also need `make test` or coverage report will be 0%.

[2020-10-04 09:22] fennecdjay commented on #192
@Pranav2612000, I was busy yesterday, but I have more time to help now I you still need some :smile:

[2020-10-04 10:17] TotallyNotChase commented on #184
I think this issue would be present in the all the workflows that use `gwion-action`. Although most of the other ones only run on push, not PR. Do you think fixing this from the `gwion-action` side itself can make this more streamlined?

[2020-10-04 10:29] fennecdjay commented on #184
You're right. But I think gwion-action made its time. I started using (linux) releases for other CI, repl.it or anyfiddle. I'm more looking forward a `action-make` thingy, which could be more general. For this particular issue, I think good old `checkout@v2` + `make test` is the way to go.

[2020-10-04 10:34] TotallyNotChase commented on #184
Alright. There seems to be another issue though. On PRs, `github.event.ref` seems to be a blank string. Any idea what this could be caused by?

[Action results](https://github.com/TotallyNotChase/Gwion/runs/1205133351?check_suite_focus=true) for context. `branch=$(basename ${{ github.event.ref }})` evaluated to `branch=$(basename )`

[2020-10-04 10:48] fennecdjay commented on #184
I didn't see that coming!
From [here](https://docs.github.com/en/free-pro-team@latest/actions/reference/environment-variables): I think we must check existence of '${{ github.event.ref }}' (which is also `$GITHUB_REF`, and if it does not exists, use `${{ github.event.base_ref }}` or ${{ github.event.head_ref }}`. I'm not sure which, I'd guess  `GITHUB_HEAD_REF`. Just my two cents actually, but I h

[2020-10-04 13:22] TotallyNotChase commented on #184
hmmm looks like neither `github.event.base_ref` nor `github.event.head_ref` exists on PR

[2020-10-04 13:44] fennecdjay commented on #184
That's a shame. did you try with `$GITHUB_HEAD_REF`?

[2020-10-04 13:45] fennecdjay commented on #184
Maybe [this](
https://stackoverflow.com/questions/60300169/how-to-get-branch-name-on-github-action) stack overflow page is relevant.

[2020-10-04 15:50] TotallyNotChase commented on #184
ok it looks like `github.ref` is great for pushes and `github.event.head.ref` is the one for PRs, I'll check those.

I think there may be another issue in the send mail bit though. Will get back to you on that

[2020-10-04 15:54] fennecdjay commented on #184
Please do. I really appreciate!

[2020-10-04 15:58] fennecdjay commented on #184
Lookin at this [build](https://github.com/TotallyNotChase/Gwion/runs/1205728511?check_suite_focus=true) and it's [workflow](https://github.com/TotallyNotChase/Gwion/actions/runs/287994568/workflow), I think the problem you have with the mailing is that you migh not have set `MAIL_USERNAME` and `MAIL_USERPASSWORD` in your repository secrets.

[2020-10-04 16:06] fennecdjay opened #193 "Coverage CI should only mail report if variables are set"
If repository secrets `MAIL_USERNAME` and `MAIL_PASSWORD` are not set, an otherwise successful build could fail. [This step](https://github.com/fennecdjay/Gwion/blob/master/.github/workflows/coverage.yml#L72-L75) should only run if `{{ secrets.MAIL_USERNAME }}` and `{{ secrets.MAIL_PASSWORD }}` are set.

[2020-10-04 16:22] TotallyNotChase commented on #193
since github actions doesn't support running an `if: ` on `secrets`. I think it would be better to just check if `github.repository_owner` matches your username and only sending mail if it does.

[2020-10-04 16:26] fennecdjay commented on #193
Nice catch! I didn't know that.
Your idea about repository owner sounds nice!

[2020-10-05 15:40] #193 closed

[2020-10-05 15:40] #184 closed

[2020-10-05 15:44] fennecdjay opened #195 "Issues here might not be the only ones in the project."
The project contains submodules, and its deployment makes use of other repos.

Here is a list.

  * [utility library](https://github.com/Gwion/gwion-util)
    [![](https://img.shields.io/github/issues/Gwion/gwion-util?style=plastic)](https://github.com/Gwion/gwion-util/issues)
  * [syntax library](https://github.com/Gwion/gwion-ast)
    [![](https://img.shields.io/github/issues/Gwion/gwion-ast?sty

[2020-10-06 14:30] fennecdjay opened #196 "Fix async mode in tests"
This is a pretty easy one :smile:
In [this](https://github.com/fennecdjay/Gwion/blob/master/scripts/test.sh#L190) line, change `-lt` to `-gt`.

----
Job control mode (`set -m`) must be set if the `async` variable is greater than zero, not if it is smaller.
This should fix presentation of tests.

[2020-10-06 14:47] umer2001 commented on #196
hey,
I am intrested in fixing this bug

[2020-10-06 15:01] fennecdjay commented on #196
Great, please do.

[2020-10-06 15:23] umer2001 commented on #196
sir there is one request,
please correct the spelling of the topic of this repository "hacktoberfest" you missed "k" while typing..,
thankyou.

[2020-10-06 15:25] fennecdjay commented on #196
Nice catch, thank you.

[2020-10-06 15:26] fennecdjay opened #198 "Windows CI needs `CC` set in testing step"
Another easy one!

Just add `CC: gcc` in the `Test` step, just like the step above.

[2020-10-06 15:31] umer2001 commented on #198
Sir,
can I?

[2020-10-06 15:34] a-mere-peasant commented on #198
can I help with this ?

[2020-10-06 15:39] fennecdjay commented on #198
I think @umer2001 should do it, as first to respond. I'm pretty sorry @a-mere-peasant (nice username by the way). Stay connected, I have other issues like this one, and it'd be a pleasure to have you as a contributor.
That's the first time I see a concurrency problem as a maintainer :smile:

[2020-10-06 15:41] a-mere-peasant commented on #198
@fennecdjay  no problem :)

[2020-10-06 15:42] #196 closed

[2020-10-06 15:44] fennecdjay commented on #198
@a-mere-peasant, I understand it's not the same kind of issue, but I'll be AFK for a few hours, so I have no time to write new issues, maybe you'd like to handle #179.
Also, would you be interested in more involved ones?

[2020-10-06 16:05] a-mere-peasant commented on #198
I'll look into it

Sure, I'll try to help with whatever I can

[2020-10-07 06:24] Pranav2612000 commented on #192
Just say this message. Will submit a PR by the end of the day. I had a question. My understanding is that static functions can only be used inside the file they are defined in.If this is right, should I move all the static functions (called in func_resolve_tmpl.c) defined in check.c to the new file. Or should I make them non static so that they can be used outside the file too?

[2020-10-07 07:50] fennecdjay commented on #192
You should move them and keep them static. If they are also called in check.c, I guess it depends.

[2020-10-07 07:50] #179 closed

[2020-10-07 07:55] Pranav2612000 commented on #192
I'll move functions which I think are appropriate to the new file. And change some static functions to be non-static in check.c . You could then suggest changes in the PR. Is that 0kay?

[2020-10-07 15:10] #192 closed

[2020-10-07 15:11] #198 closed

[2020-10-07 15:20] fennecdjay opened #204 "Split _find_template_match"
Currently the function is to big to be really maintanable.
The fix is to split the inner parts in two functions:
  * [this part](https://github.com/fennecdjay/Gwion/blob/master/src/parse/func_resolve_tmpl.c#L60-L85) as e.g. `fptr_match`
  * [this one](https://github.com/fennecdjay/Gwion/blob/master/src/parse/func_resolve_tmpl.c#L86-L115) as e.g.  `func_match`

Name it has you see it fit. I'm propo

[2020-10-07 15:33] fennecdjay opened #205 "Fix contributor link"
Looks like we had a problem with all-contributors-bot.

The fix is just editing line 123 of README.md your @a-mere-peasant infos instead.
[link](https://github.com/a-mere-peasant)

[2020-10-07 17:56] ry-v1 commented on #205
Submitted pull request #206

[2020-10-07 18:00] fennecdjay commented on #205
@a-mere-peasant, someone came to our rescue :champagne:

[2020-10-07 18:25] fennecdjay commented on #204
Looking at the code, I think there a need for a structure.
at least.

As an example:

[code]

Also, IMHO, the function for non pointer function can be split:
one function when `exists` exists (sorry), and, well the other :smile:
Notice the
[code]
is redundant.

I think that could be better written:

[code]

It will make easier to make ones mind on what each piece of code does (provided we find sen

[2020-10-07 18:32] Pranav2612000 commented on #204
I'll would lke to work on this.

[2020-10-07 18:52] fennecdjay commented on #204
Thank you.

[2020-10-08 09:52] #205 closed

[2020-10-08 10:06] fennecdjay opened #208 "CodeQl actions should respect [skip ci]"
There is no use in running CodeQl checks if `[skip ci]` is requested.
Please edit [this file](https://github.com/fennecdjay/Gwion/blob/master/.github/workflows/codeql-analysis.yml) so that it works as the others.
Examples can be found in [here](https://github.com/fennecdjay/Gwion/blob/master/.github/workflows/linux.yml#L17)

[2020-10-08 10:23] fennecdjay opened #209 "Benchmark action should respect [skip ci]"
There is no need to benchmark if the commit states to skip the ci.
I think it is just a matter of adding
[code]

At the beginning of `call the other repo` step.
See [here](https://github.com/fennecdjay/Gwion/blob/master/.github/workflows/benchmarks.yml#L23)

[2020-10-10 03:07] forrcaho commented on #180
Hey, me too! I'm looking to do 2 more PRs for Hacktoberfest, and I'm familiar with ChucK -- even worked on the code a tiny bit. What's the inspiration to create a new language? How can I help?

[2020-10-10 09:17] fennecdjay commented on #180
Hi!

At some point, chuck was not be fast enough to handle what I needed/wanted to do.
I also badly lacked function pointers and generics. So, well, I guess that's it.

I'm a bit busy today, but I'll try to update some issues.

[2020-10-11 03:37] forrcaho commented on #180
Ok, I've got to admit, my simple edits to the README are insufficient. I
still haven't been able to make a sound from gwion.

I still really don't understand how to make sound. I'm going thru all the
plug subdirs and trying to make them individually; sometimes there are
dependencies I can apt-get or find on github or elsewhere (it took me
forever to find soundpipe; it's now at https://git.sr.ht/~p

[2020-10-11 09:10] fennecdjay commented on #180
I'm not home for the moment, but I'll try to provide pointers anyway.
You got to provide the libs directory with `-p` (there can be multiple).
And `-d` for the driver
Modules depends on Soundpipe.
So a working command should be something like:
[code]

I'm sorry for the inconvenience :confused:
The good point is that it makes it clear plug READMEs need to provide more information:
  * where to find

[2020-10-11 13:06] #208 closed

[2020-10-11 20:30] forrcaho commented on #180
The soundpipe repo at Sourcehut, although it appears to be active, is for
some reason not complete. There is a version at
https://github.com/hexdump0815/soundpipe-backup which at least allowed me
to compile the Soundpipe plug successfully -- still working on getting
sound.

On Sun, Oct 11, 2020 at 4:10 AM Jérémie Astor <notifications@github.com>
wrote:

[2020-10-11 20:35] fennecdjay commented on #180
Thanks for keeping me updated. It tested the jack plugin back home, was working :smile:
I'll do everything to help!
Is your jack setup OK?
Or would it help if I update the pulseaudio driver?

[2020-10-11 20:49] forrcaho commented on #180
I succeeded in getting some sound using the command line you provided, but
instead of a sine wave it was noise. It sounded more like pink noise than
white noise to me, but I'm just using my laptop speakers so it's hard to
tell. On the bright side, the sound did seem to last five seconds as one
would expect from the code.

On Sun, Oct 11, 2020 at 3:35 PM Jérémie Astor <notifications@github.com>
wro

[2020-10-11 20:56] fennecdjay commented on #180
Weird ... When you build Gwion, did you change anything in `util/config.mk' (I'm asking because this *might* come from setting `USE_DOUBLE` to 1). I never had a problem with the jack driver before, I don't know. Can you confirm jack is working normally on your machine?

[2020-10-11 21:03] forrcaho commented on #180
Yeah, close. I had set USE_DOUBLE to 1 when I built soundpipe. (I thought I
had made the corresponding change to Gwion, but apparently not). Once I
rebuilt soundpipe not to use doubles, I got a sine wave as expected. So it
worked!

On Sun, Oct 11, 2020 at 3:56 PM Jérémie Astor <notifications@github.com>
wrote:

[2020-10-11 21:10] fennecdjay commented on #180
That's great news!!! :champagne:
I (just) started porting STK, also we should soon have a chuck => gwion (and virce-versa) transpiler.

[2020-10-11 23:17] forrcaho commented on #180
I just exchanged a bit of email with Paul Batchelor and found out that the
soundpipe repo I found on Sourcehut is a new major revision, and as such
has breaking changes. The latest sources for the version we're using are a
part of AudioKit; it looks like they're at
https://github.com/AudioKit/AudioKit/tree/v5-master/Sources/soundpipe . I
think the Gwion project my want to maintain our own soundpip

[2020-10-12 06:05] SenorGrande commented on #209
G'Day, could I please work on this issue? Cheers

[2020-10-12 09:15] fennecdjay commented on #209
Please do!

[2020-10-12 10:09] fennecdjay commented on #180
Nice!
I think plugins should have a submodule if/when the library they depends on (if any) is available as a git repo.
I'm not sure whether we should maintain Soundpipe or Sporth (you're right, there's a sporth module, and it's pretty cool IMHO), I'd rather use upstream for both when we can.
But I'm open to discussion.

[2020-10-12 12:27] fennecdjay commented on #180
@all-contributors please add @forrcaho for ideas.

[2020-10-12 13:32] forrcaho commented on #180
Paul Batchelor actually suggested we may want to keep our own Soundpipe
sources. Given that I had such a hard time finding them, and as they exist
in AudioKit they don't have their own repo or build files I can see, I
think that might be a good idea. I suggested having it as a submodule just
because that seems to be the way you've organized your repo, but it is
really independent so maybe a submod

[2020-10-12 13:37] fennecdjay commented on #180
I see (I think :smile:).
So the organization should have it's own repo for Soundpipe and Sporth, which would be pointed
 to by a submodule in their respective plugin repos.
Does this sound correct?

[2020-10-12 13:47] forrcaho commented on #180
I'm agnostic on the use of submodules; they seem a bit confusing to me, but
I should probably master them. Your proposal sounds fine to me.
BTW, is there another forum for discussion? This entire email exchange is
getting attached to the original github issue, which just seems a bit
strange for what's now a general and wide-ranging discussion of the project.

On Mon, Oct 12, 2020 at 8:37 AM Jérémi

[2020-10-12 14:14] fennecdjay commented on #180
We should try on the team's page. I had decent discussion with other members there, I hope it'll work for you.
[link](https://github.com/orgs/Gwion/teams/main/discussions/6)

[2020-10-14 07:20] #209 closed

[2020-10-18 21:21] fennecdjay commented on #204
Hi, @Pranav2612000! How is it going?

[2020-10-20 19:15] #204 closed

[2021-02-18 03:01] fennecdjay commented on #167
@contributorbot please add @euppal

[2021-02-18 03:02] fennecdjay commented on #167
@all-contributors please add @euppal for ideas

[2021-02-18 03:05] fennecdjay commented on #167
@all-contributors please add @euppal for ideas

[2021-03-04 09:42] femolacaster commented on #180
I am interested in this project especially in terms of technical documentation and language translation. I have played with JUCE framework before and know a little low-level programming too like C that is being used. And more so, I am a Musician as well.

[2021-03-04 10:43] fennecdjay commented on #180
Great! I send you an invite to the organization.
Feel free to ping/mail me for anything.
Hoping to read you soon.

[2021-04-13 14:38] euppal opened #226 "Add comments"
Currently gwion is not commented, which hinders common understanding of the source files. This makes contribution to gwion more difficult without constant consultation with the author. I know this is a daunting project, but it would be beneficial to both the author and to collaborators or just mere learners.

[2021-04-13 14:40] fennecdjay commented on #226
You're right.
I can't really stop my current work to handle this,
but I'll get started after my next commit.

[2021-05-28 09:53] benrogmans opened #227 "make command fails"
**Describe the bug**
Trying to build Gwion, following the instructions in the README.md, but make stops with the following error:

[code]

**To Reproduce**
[code]

**My system / output of `uname -a`:**
[code]

Full output of the `make` command:
[code]

[2021-05-28 10:12] fennecdjay commented on #227
Nice catch!
The build commands are outdated.
can you try to build with
[code]
?
If you can confirm it works for you I'll update the README.

[2021-05-28 10:26] benrogmans commented on #227
Yes now it works! Thank you! For you information, there were some errors in the output:

[code]

[2021-05-28 10:44] fennecdjay commented on #227
Thanks :)
Yes I'm aware of those errors.
There's not much I can do about the `yy_fatal_error` one, as it is from flex/bison.
But I guess I can rewrite the `_PRINTF` macro in libprettyerr.

[2021-05-28 10:45] #227 closed

[2021-05-31 09:29] fennecdjay commented on #227
@all-contributors please add @SenorGrande for docs.

[2021-05-31 09:29] fennecdjay commented on #227
@all-contributors please add @benrogmans for docs.

[2021-10-22 03:14] SamuelMarks opened #234 "CMake support"
**Is your feature request related to a problem? Please describe.**
I can add it if you want. Will probably add it for each of your dependencies first.

**Describe the solution you'd like**
Do you want it?

**Describe alternatives you've considered**
Not providing it.

**Additional context**
Should make a smooth pathway to cross-platform building, testing, and packaging

[2021-11-15 02:22] fennecdjay commented on #234
Are you still motivated for this issue @SamuelMarks?
I'm sorry for the delay.
Maybe you could point the PR to some `CMake` branches in the repo not belonging to the gwion org?
I wouldn't merge in their main branch without the owner's agreeing.
But I could make the gwion source point to another branch and merge later when @euppal is ok with it.

[2021-11-15 03:01] SamuelMarks commented on #234
Sure I can start sending PRs again. I go down to the lowest dependency, convert that to CMake, then next dependency until the entire project is CMake.

[2021-11-19 20:15] SamuelMarks commented on #234
@fennecdjay ?

[2021-11-25 10:47] fennecdjay commented on #234
I just merged libprettyerr.
Sorry for the delay, I was quite busy IRL.
What you be the next step?

[2021-12-20 07:51] avdrd opened #235 "Windows build flagged as virus by Windows Defender"
The current build is flagged by Windows 10 Defender as being infected with `Trojan:Win32/Wacatac.B!ml`, specifically in

[code]

[2021-12-20 09:38] Mafee6 commented on #235
[Reddit - Comment - Because its machine learning based, it flags it. see.comment](https://www.reddit.com/r/antivirus/comments/p2o2yj/comment/h8mmdbs/)

[2022-03-17 17:10] bichanna opened #238 "Dead Link"
The [link](https://gwion.github.io/Gwion) to the website is dead.

[2022-03-17 21:04] fennecdjay commented on #238
it does not seem dead for me?
May be this is due to the latest github outrage?
At nay rate, thanks for reporting :)

[2022-03-18 01:17] bichanna commented on #238
Hmm, weird. I tried the link a couple of times, and it didn't respond.
And I'm sure I was connected to the Internet, though.

[2022-03-18 01:17] #238 closed

[2022-03-22 12:17] Mafee6 commented on #238
Its working now

[2022-03-22 12:41] fennecdjay commented on #238
yeah it looks like it was related to the latest github outrage

[2022-05-09 11:30] xerox51 commented on #235
I add  <<< "Hello World" >>>; code in a gw file and put the file in the same filepath with gwion.exe on windows10.
Then use gwion command to run the file, nothing output.

[2022-05-09 12:23] fennecdjay commented on #235
Did you compiled it or use the release?

[2022-05-09 12:25] fennecdjay commented on #235
also, can you try `gwion --help`?
it should output the list of all valid cli arguments.
And what terminal are you using?

[2022-05-10 06:08] xerox51 commented on #235
I use the latest release windows version and use the cmd to run the helloworld code. I also try to run the code in powershell. But nothing output present in the terminal window. Today I download the macOS release version and run the helloworld code normally on macOS. Maybe my windows10 lack of some dynamic link library.

[2022-05-10 06:54] fennecdjay commented on #235
I can't really tell for sure as I don't have access to a windows machine at the moment.
I know the release version works in the github CI, as the CI passes and the testing is made on the output.
I'll see if I can get more infos.
Thanks for the report :smile:

[2022-05-10 09:03] fennecdjay commented on #235
quick update.
I recall I had gwion working in windows using git bash, maybe that's what the CI is using.
Also for the core of gwion there's only static libraries used, the ones from the submodules

[2022-05-12 05:57] xerox51 commented on #235
um, it works normally using git bash on windows. I have try it.

[2022-05-12 07:17] fennecdjay commented on #235
Great.
I'll try to improve the windows situation but without a machine running it, it's pretty hard

[2022-09-03 13:14] #180 closed

[2022-09-03 13:14] #195 closed

[2022-09-03 13:15] #226 closed

[2022-09-03 13:15] #235 closed

[2022-09-03 13:15] #234 closed